<div class="social">
  <ul>
    {% if site.author.stackoverflow %}
    <li>
      <a href="https://stackoverflow.com/{{ site.author.stackoverflow }}" target="_blank" class="smaller">
        <span class="fa fa-stack-overflow"></span>
      </a>
    </li>
    {% endif %} {% if site.author.twitter %}
    <li>
      <a href="https://twitter.com/{{ site.author.twitter }}" target="_blank" class="smaller">
        <span class="fa fa-twitter"></span>
      </a>
    </li>
    {% endif %} {% if site.author.github %}
    <li>
      <a href="https://github.com/{{ site.author.github }}" target="_blank" class="smaller">
        <span class="fa fa-github"></span>
      </a>
    </li>
    {% endif %} {% if site.author.mail %}
    <li>
      <a href="mailto:{{ site.author.mail }}" target="_blank">
        <span class="fa fa-envelope-open"></span>
      </a>
    </li>
    {% endif %} {% if site.author.rss == true %}
    <li>
      <a href="{{ '/feed.xml' | prepend: site.baseurl }}" target="_blank">
        <span class="fa fa-rss"></span>
      </a>
    </li>
    {% endif %} {% if site.author.linkedin %}
    <li>
      <a href="https://linkedin.com/{{}}" target="_blank" class="smaller">
        <span class="fa fa-linkedin"></span>
      </a>
    </li>
    {% endif %}
  </ul>
</div>