.social {
  float: right;
  margin-top: 1.75rem;
  ul {
    list-style-type: none;
    margin: 0;
    padding: 0;
  }
  li {
    display: inline-block;
  }
  li a {
    display: block;
    color: var(--text-color-light);
    text-align: center;
    font-size: 1.5rem;
    width: 2.5rem;
  }
}

.me {
  display: block;
  margin-left: auto;
  margin-right: auto;
  border-radius: 100%;
  border: solid #199771 0.4rem;
  position: relative;
  width: 13rem;
}

.container {
  text-align: center;
  font-size: 1.5rem;
  padding: 3rem 0 2rem;
  margin: auto;
  max-width: 40rem;
}

#salut {
  text-align: center;
  font-size: 3.5rem;
}

strong { 
  font-weight: bold;
}